<main>
  <section class="container mb-5">
    <h1>Nova encomenda</h1>

    <p>
      Para cadastrar uma nova encomenda, selecione o cliente, informe a data de entrega e clique no botão "Salvar".
    </p>
    <p class="mb-5">
      Se o cliente ainda não foi cadastrado, clique no botão "Cadastrar novo cliente".
    </p>

    <form (ngSubmit)="onSubmit()" [formGroup]="orderForm">
      <app-customers-dropdown [control]="customerControl"></app-customers-dropdown>

      <mat-form-field appearance="fill">
        <mat-label>Data da entrega</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateToBeDone">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          <app-form-control-error [control]="orderForm.controls['dateToBeDone']"></app-form-control-error>
        </mat-error>
      </mat-form-field>

      <h3 class="mr-3">Items da encomenda:</h3>

      <form [formGroup]="addItemForm" class="row-sm" (ngSubmit)="addItem()">
        <app-products-dropdown [control]="addItemForm.controls['product']" class="col-sm-6"></app-products-dropdown>

        <div class="d-flex col-sm-6">
          <mat-form-field appearance="fill" class="flex-grow-1">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" formControlName="quantity">
            <mat-error>
              <app-form-control-error [control]="addItemForm.controls['quantity']"></app-form-control-error>
            </mat-error>
          </mat-form-field>
          <button mat-fab type="submit" class="ml-3" matTooltip="Adicionar item">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </form>

      <app-order-items-list [itemsFormArray]="itemsFormArray" (onRemoveItem)="removeItem($event)"></app-order-items-list>

      <span class="text-warn text-500 m-auto mb-3 mt-3" *ngIf="error">{{ error }}</span>

      <button mat-raised-button color="primary" class="mt-4" type="submit" [disabled]="!orderForm.valid">
        Finalizar e salvar a encomenda
      </button>
    </form>
  </section>
</main>
