<main>
  <section class="container mb-5">
    <h1>Nova encomenda</h1>

    <p>Para cadastrar uma nova encomenda, selecione o cliente, informe a data de entrega e adicione os items da
      encomenda.</p>
    <p class="mb-5">Se o cliente ainda não foi cadastrado, clique no botão "Cadastrar novo cliente".</p>

    <app-loading *ngIf="loading"></app-loading>

    <form *ngIf="!loading" (ngSubmit)="onSubmit()" [formGroup]="orderForm">
      <app-customers-dropdown [control]="customerControl"></app-customers-dropdown>

      <mat-form-field appearance="fill">
        <mat-label>Data da entrega</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateToBeDone">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          <app-form-control-error [control]="orderForm.controls['dateToBeDone']"></app-form-control-error>
        </mat-error>
      </mat-form-field>

      <h3 class="mr-3">Items da encomenda:</h3>

      <form [formGroup]="itemForm" class="row-sm" (ngSubmit)="onItemFormSubmit()">
        <app-products-dropdown [control]="itemForm.controls['product']" class="col-sm-6"></app-products-dropdown>

        <div class="d-flex col-sm-6">
          <mat-form-field appearance="fill" class="flex-grow-1">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" formControlName="quantity">
            <mat-error>
              <app-form-control-error [control]="itemForm.controls['quantity']"></app-form-control-error>
            </mat-error>
          </mat-form-field>
          <button mat-fab type="submit" class="ml-3" matTooltip="Adicionar item">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </form>

      <app-order-items-list [itemsFormArray]="itemsFormArray"></app-order-items-list>

      <button mat-raised-button color="primary" class="mt-5" type="submit" [disabled]="!orderForm.valid">
        Salvar
      </button>
    </form>
  </section>
</main>
