$next-breakpoint: (
  sm: md,
  md: lg,
  lg: xl,
  xl: xxl,
);

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$spacer: 1rem;

$spacer-sizes: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
}

.row {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $spacer;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    .container {
      max-width: map-get($container-max-widths, $breakpoint);
    }
  }
}

@each $breakpoint in map-keys($next-breakpoint) {
  $next-breakpoint-value: map-get($next-breakpoint, $breakpoint);
  @media (min-width: map-get($grid-breakpoints, $next-breakpoint-value)) {
    @for $cols from 1 to 12 {
      .col-#{$breakpoint}-#{$cols} {
        grid-column: span $cols !important;
      }

      .row-#{$breakpoint} {
        display: grid !important;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: $spacer;
      }
    }
  }
}

.m-auto {
  margin: auto;
}

@each $size in map-keys($spacer-sizes) {
  .m-#{$size} {
    margin: map-get($spacer-sizes,$size) !important;
  }

  .p-#{$size} {
    padding: map-get($spacer-sizes, $size) !important;
  }

  @each $dir in map-keys($directions) {
    .m#{$dir}-#{$size} {
      margin-#{map-get($directions, $dir)}: map-get(
        $spacer-sizes,
        $size
      ) !important;
    }

    .p#{$dir}-#{$size} {
      padding-#{map-get($directions, $dir)}: map-get(
        $spacer-sizes,
        $size
      ) !important;
    }
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.d-flex {
  display: flex !important;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
