$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$spacer: 1rem;

$spacer-sizes: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    .container {
      max-width: map-get($container-max-widths, $breakpoint);
    }
  }
}

.m-auto {
  margin: auto;
}

@each $size in map-keys($spacer-sizes) {
  @each $dir in map-keys($directions) {
    .m#{$dir}-#{$size} {
      margin-#{map-get($directions, $dir)}: map-get($spacer-sizes, $size);
    }

    .p#{$dir}-#{$size} {
      margin-#{map-get($directions, $dir)}: map-get($spacer-sizes, $size);
    }
  }
}
