@import 'variables';

.text-center {
  text-align: center;
}

.text-500 {
  font-weight: 500;
}

.text-warn {
  color: $color-warn;
}

.text-background {
  color: $color-background;
}

.text-align-right {
  text-align: right;
}
