@use '/node_modules/@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);

$theme: mat.define-light-theme($primary, $accent);

@include mat.all-component-themes($theme);

// Variáveis
$colors: map-get($theme, 'color');
$primary-palette: map-get($colors, 'primary');
$accent-palette: map-get($colors, 'accent');
$warn-palette: map-get($colors, 'warn');
$foreground: map-get($colors, 'foreground');
$background: map-get($colors, 'background');
