@use '/node_modules/@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$light-green-palette);

$theme: mat.define-light-theme($primary, $accent);

@include mat.all-component-themes($theme);

// Variáveis
$colors: map-get($theme, "color");
$primary-palette: map-get($colors, "primary");
$accent-palette: map-get($colors, "accent");
$warn-palette: map-get($colors, "warn");
$foreground: map-get($colors, "foreground");
$background: map-get($colors, "background");

.mat-table-items-hover {
  @include mat.elevation(4);
  tbody tr {
    transition: 100ms ease-in-out !important;
    &:hover {
      cursor: pointer;
      transform: translateX(-1px);
      @include mat.elevation(8);
    }
  }
}

.alert-success {
  background-color: map-get(mat.$green-palette, 500);
  color: white;
  font-weight: 300;
  .mat-simple-snackbar-action  {
    color: white;
  }
}

.alert-error {
  background-color: map-get($warn-palette, 600);
  color: white;
  font-weight: 300;
  .mat-simple-snackbar-action  {
    color: white;
  }
}
