<mat-form-field class="form-field" appearance="outline">
  <mat-label>Cliente{{ loading ? ' (Carregando...)' : '' }}</mat-label>
  <input matInput type="text" [matAutocomplete]="auto" [formControl]="control" (ngModelChange)="onInputChange()" />
  <mat-error>
    <app-form-control-error [control]="control"></app-form-control-error>
  </mat-error>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
  <mat-option *ngFor="let item of (filtered | async)" [value]="item">
    {{item.name}}
  </mat-option>
</mat-autocomplete>

<button class="w-100 mb-3" mat-button color="accent" (click)="create()">Cadastrar novo cliente</button>
