<h1 mat-dialog-title>Novo cliente</h1>

<div mat-dialog-content>
  <form id="frmCustomer" class="d-flex flex-column" (ngSubmit)="onSubmit()" [formGroup]="customerForm">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" type="text">
      <mat-error>
        <app-form-control-error [control]="customerForm.controls['name']"></app-form-control-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput formControlName="address" type="text">
      <mat-error>
        <app-form-control-error [control]="customerForm.controls['address']"></app-form-control-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="phone" type="text">
      <mat-error>
        <app-form-control-error [control]="customerForm.controls['phone']"></app-form-control-error>
      </mat-error>
    </mat-form-field>
  </form>
  <span class="text-warn text-500 m-auto mb-3" *ngIf="error">{{ error }}</span>
</div>

<div class="d-flex justify-content-between" mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancelar</button>
  <button mat-raised-button color="primary" type="submit" form="frmCustomer">Salvar</button>
</div>
