<!-- <mat-list role="list">
  <ng-container *ngFor="let item of items" role="listitem">
    <mat-list-item>
      <div class="d-flex justify-content-between align-items-center w-100">
        <span>{{ item.product.name }}</span>
        <span>{{ item.quantity }}</span>
        <button mat-icon-button color="accent" type="button" matTooltip="Remover item">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list> -->

<table #tableElement mat-table [dataSource]="items" class="w-100">
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Produto</th>
    <td mat-cell *matCellDef="let item"> {{item.product.name}} </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantidade</th>
    <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item; let i = index;">
      <div class="d-flex justify-content-end">
        <button mat-icon-button color="accent" type="button" (click)="onRemoveItem.emit(i)" matTooltip="Remover item">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['product', 'quantity', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['product', 'quantity', 'actions'];"></tr>
</table>
