<div *ngIf="!itemsFormArray?.length" class="mt-4 mb-4 d-flex justify-content-center">
  <span>Adicione items na encomenda.</span>
</div>

<table *ngIf="itemsFormArray?.length" mat-table [dataSource]="itemsFormArray?.value" class="w-100">
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Produto</th>
    <td mat-cell *matCellDef="let item"> {{item?.product?.name}} </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantidade</th>
    <td mat-cell *matCellDef="let item"> {{item?.quantity}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item; let i = index;">
      <div class="d-flex justify-content-end">
        <button mat-icon-button color="accent" type="button" (click)="removeItem(i)" matTooltip="Remover item">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['product', 'quantity', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['product', 'quantity', 'actions'];"></tr>
</table>
